p {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.3;
  text-decoration: underline;
  text-transform: uppercase;
  /* text-indent: 5rem; */
  letter-spacing: .5rem;
}